* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: yellow;
}
.title h2{
    font-size: 28px;
    margin: 0;
}
.registerform {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 30rem;
    margin: 207px auto;
    padding: 0;
    background-color: white;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    font-family: 'Lato', sans-serif;

}
.inputs {
    text-align: left;
}

.decoration {
    position: absolute;
    top: 46px;
}
.decoration img {
    height: 55px;;
}

.label {
    font-size: 18px;
    margin: 25px;
}

label {
    display: inline-block;
    width: 100px;
}

.register-label {
 display: flex;
 justify-content: center;
}

.btnregister {
    position: absolute;
    bottom: 60px;
    height: 30px;
    width: 120px;
    font-size: 18px;
}